@model WebStore.Models.Employee

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employee</title>
</head>
<body>
    <h3>Сотрудник №@Model.Id</h3>
    <p>@Model.FirstName</p>

    <a href="~/Home/Employees">Сотрудники</a>

</body>
</html>
