
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Представление Index</h2>
    <p>Hello!</p>
    <a href="~/Home/SomeAction">Дополнительное представление</a>
</body>
</html>
